  <div class="container-fuild" style="margin-left: -8px; margin-top: -8px; margin-bottom: -8px;">
    <div class="sidebar">
      <h2>STORE REPORTS</h2>
      <ul>
        <!-- <li style="border-top: #1a471c 2px solid;" routerLink="/store-dashboard">Dashboard</li> -->
        <li style="border-top: #1a471c 2px solid;" routerLink="/store-generate-reports">Generate Report</li>
        <li routerLink="/store-view-reports">View Reports</li>
        <li routerLink="/store-search-reports">Search Old Reports</li>
      </ul>
    </div>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>


