  <div class="container-fuild" style="margin-left: -8px; margin-top: -10px;">
    <div class="sidebar">
      <h2 style="padding:15px; background-color: #3a493b;">STORE REPORTS</h2>
      <ul>
        <li style="border-top: #1a471c 2px solid; margin-top: -30px;" routerLink="/store-generate-reports">Generate Report</li>
        <li routerLink="/store-view-reports">View Reports</li>
      </ul>
    </div>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>


